@import 'variables';

.profile__orders {
  padding: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #f9f9f9;

  @include breakpoint-S {
    padding: 8rem 0;
    justify-self: center;
    width: 90%;
  }
  @include breakpoint-M{
    width: 90%;
    justify-self: center;
    padding: 6rem 0;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #333;
  }

  > ul {
    list-style: none;
    padding: 0;

    > li {
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 1rem;
      border-radius: 10px;
      margin-bottom: 2rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

      > p {
        margin: 0.5rem 0;
        font-size: 1rem;

        strong {
          color: $secondary-color;
          font-weight: bold;
        }
      }

      > ul {
        margin-top: 1rem;
        list-style: none;
        padding: 0;

        > li {
          display: flex;
          align-items: center;
          gap: 1rem;
          border-top: 1px solid #ccc;
          padding: 0.75rem 0;

          &:first-child {
            border-top: none;
          }

          img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            border-radius: 5px;
            border: 1px solid #ddd;
            background-color: #fff;
          }

          p {
            font-weight: 500;
            margin: 0;
            //line-height: 100%;
            color: #333;

            &.price {
              font-weight: bold;
              color: #000;
            }
          }
        }
      }
    }
  }
}
