@import 'variables';

.footer {
  background-color: $background-gray;
  color: $text-color;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__logo {
    width: 10%;
    margin-bottom: 20px;

    img {
      max-width: 100%;
    }

    @include breakpoint-S {
      width: 40%;
    }
  }

  &__links {
    width: 30%;
    margin-bottom: 20px;

    &--desktop {
      display: flex;
      justify-content: space-between;

      @include breakpoint-S {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include breakpoint-S {
        display: flex;
        flex-direction: column;
        width: 80%;
      }

      .footer__toggle {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        border-top: 1px solid white;
        padding: 10px 0;

        span {
          margin-left: auto;
        }
      }

      ul {
        padding-left: 1rem;
        margin-top: 5px;
      }
    }

    &__row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      h3 {
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }

  &__menu {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 5px;
      text-align: left;

      a {
        color: $text-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__social {
    display: flex;
    gap: 1rem;

    img {
      width: 60px;
      height: 60px;

      @include breakpoint-S {
        width: 40px;
        height: 40px;
      }
    }

    @include breakpoint-S {
      justify-content: center;
    }
  }

  p {
    margin-top: 20px;
    font-size: 0.875rem;
  }
}
