@import 'variables';

.home {

  &__hero {
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/Gymnasio-Fitsync.jpg');
    background-size: cover;
    background-position: center;
    color: $text-color;
    text-align: center;
    display: flex;

    
    h1 {
      font-size: 3.5rem;
      margin-bottom: 20px;
      text-align: left;
      padding-left: 0.5em;

      @include breakpoint-S {
        font-size: 1.7rem;
        text-align: center;
      }
    }
    p {
      font-size: 1.8rem;
    }
  }

  &__hero--box{
    width: 70%;
    margin-top: 18em;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint-S {
      display: flex;
      margin-top: 10em;
      flex-direction: column-reverse;
    }
  }

  .highcolor_Gold {
    color:$secondary-color;
  }

  &__phone-image{
    width: 50%;
    height: auto;
    

    @include breakpoint-S {
      width: 120%;
    }

  }

  &__services {
    background-color: $background-light;
    width: 100%;
    text-align: center;
    padding: 70px 0;
  

    @include breakpoint-S {
      padding: 30px 0;
    }
    
    h2 {
      display: flex;
      justify-content: center;
      width: 100%;
      color: $primary-color;
      font-size: 2.5rem;
      margin-bottom: 40px;
    }

    .Promocion__title {
      @extend h2;
      color: $secondary-color;
    }
    .services__list {
      display: flex;
      height: auto;
      justify-content: space-around;
      gap: 20px;

      @include breakpoint-S {
        flex-direction: column;
        justify-content: none;
        align-items: center;
      }
      
      .service__box {
        width: 80%;
        height: 80%; 
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4%; 
        
        
        @include breakpoint-S {
          height: 30%;
          height: 300px;
          overflow: hidden;
        }
      }

      .service__image{
        width: 80%;
        border-radius: 10%;

        @include breakpoint-S {
          width: 100%;
          object-fit: cover;
          object-position: center;
          padding: 0;
          border-radius: none;
        }
      }
    }
  }
}
.ocultar__home-S{
  display: none;

  @include breakpoint-S {
    display: flex;
  }
}

.ocultar__home-PC{
  display: flex;

  @include breakpoint-S {
    display: none;
  }
}
