@import 'variables';

.home__header {
    width: 100%;
    position: fixed;
    justify-items: center;
    z-index: 1000; 
    top: 0;
    left: 0;
    background-color: $background-gray;
    padding: 0.6em;
    
    .navbar {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      &__logo {
        width: 8%;
      }
      &__menu-Principal {
        display: flex;
        align-items: center;
        gap: 25px;
        list-style: none;

        a {
          font-size: 1em;
          text-decoration: none;
          display: flex;
          align-items: center;
          color: $text-color;
          padding: 0.5em 0.5em;
          cursor: pointer;
          font-weight: bold;

          &:hover {
            transform: scale(1.1); 
          }
        
          &:active {
            transform: scale(1.2); 
          }
        }
        img {
          width: 2.2em;
        }
      }

      &__menu-icon{
        display: flex;
        align-items: center;
        gap: 5px;
        list-style: none;

        img {
          width: 80%;
        }
      }

      .cart__button {
        padding: 0.5em;
        background-color: transparent;
        border: none;
        cursor: pointer;
      
        &:hover {
          transform: scale(1.1); 
        }
      
        &:active {
          transform: scale(1.2); 
        }
      }
    }
  }