// Variables SASS

//Colores
$primary-color: #1c1c1c;
$secondary-color: #ffcc00;
$text-color: #ffffff;
$text-color-grey: #7C7C7C;
$background-light: #f8f8f8;
$background-light-02: #b2b2b2;
$background-light-03: #ebebeb;
$background-gray: #3B3B3B;
$boton-cancelar: #e6e6e6;
$background-gray-db: #f3f3f3;



//Fonts
$font-global: "Inter", sans-serif;


// mixins

@mixin breakpoint-XL {
    @media (min-width: 992px) {
      @content;
    }
  }

@mixin breakpoint-M {
  @media (min-width: 577px) and (max-width: 991px) {
    @content;
  }
}
  

@mixin breakpoint-S {
    @media (max-width: 576px) {
      @content;
    }
  }