// Variables SASS

//Colores
$primary-color: #1c1c1c;
$secondary-color: #ffcc00;
$text-color: #ffffff;
$background-light: #f8f8f8;
$background-light-02: #b2b2b2;
$background-light-03: #ebebeb;
$background-gray: #3B3B3B;


//Fonts
$font-global: "Inter", sans-serif;
